{% extends "app/layout.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/gallery.css' %}">
{% endblock %}

{% block content %}


        <div class="site-section">
          <div class="container">
            <div class="row mb-5 align-items-center">
              <div class="col-md-7">
                <h2 class="heading-39291 mb-0">Our Work</h2>
              </div>
            </div>
            
            <div class="container" id="btnContainer">
                <div class="btnRow" id="btnShowAll">
                    <button class="btn btnShowAll active"> Show all</button>
                </div>

                <div class="btnRow" id="btnClassify">
                   Object:
                {% for classify in classifies %}
                  <button class="btn {{ classify.classify }}"> {{ classify.classify }}</button>
                {% endfor %}
                </div>

                <div class="btnRow" id="btnMaterial">
                    Material:
                {% for material in materials %}
                  <button class="btn {{ material.material }}"> {{ material.material }}</button>
                {% endfor %}
                </div>

                <div class="btnRow" id="btnColor">
                    Color:
                {% for color in colors %}
                  <button class="btn {{ color.color }} btnColor"> {{ color.color }}</button>
                {% endfor %}
                </div>
            </div>

            <div class="row" id="galleryPics">
                {% for pic in pics %}
              <div class="column {{ pic.classify.all|join:" " }} {{ pic.color.all|join:" " }} {{ pic.material.all|join:" " }}">
                <div class="media-02819">
                  <a href="{{ pic.image.url }}" class="img-link"><img src="{{ pic.image.url }}" alt="Image" class="img-fluid"></a>     
                  <span>{{ pic.classify.all|join:" " }}</span>
                  <span>{{ pic.color.all|join:" " }}</span>
                  <span>{{ pic.material.all|join:" " }}</span>
                </div>
              </div>
                {% endfor %}




            </div>
          </div>
        </div>




{% endblock %}

{% block scripts %}
<script src="{% static 'app/js/gallery.js' %}"></script>
{% endblock %}