{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
 



  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

        <div class="owl-carousel-wrapper">

          <div class="box-92819 shadow-lg">
              <div>
                <h1 class=" mb-3 text-white" id="homePageTatil">KK Cabinet</h1>
                <p class=" mb-3 text-white" id="sologen">Making Custom Affordable</p>
                <p class="mb-0 mt-4"><a href="http://www.kkcabinets.ca/#467956342466168442-form-parent" class="btn btn-primary" id="getTouthBtn">Get In Touch</a></p>
              </div>
          </div>

          <div class="owl-carousel owl-1 ">
              {% for pic in pics_home %}
            <div class="ftco-cover-1" style="background-image: url({{ pic.image.url }});"></div>
              {% endfor %}
          </div>

        </div>  

        <div class="site-section">
          <div class="container">
            <div class="row mb-5 align-items-center">
              <div class="col-md-7">
                <h2 class="heading-39291 mb-0">Our Work</h2>
              </div>
              <div class="col-md-5 text-right">
                <p class="mb-0"><a href="#" class="more-39291">View All Works</a></p>
              </div>
            </div>

            <div class="row">
                {% for pic in pics_gallery %}
              <div class="col-lg-6">
                <div class="media-02819">
                  <a href="#" class="img-link"><img src="{{ pic.image.url }}" alt="Image" class="img-home-gallery"></a>
                  <h3><a href="#">{{ pic.classify.all|join:" " }}</a></h3>
                </div>
              </div>
                {% endfor %}

            </div>
          </div>
        </div>

    </div>
     
  
  </body>


{% endblock %}
